 /* Custom container */
      #id_url{width:420px; padding:10px;}
      .header{background-color:#DFF7FF; padding:15px 0; border-bottom:1px solid #b9d7e8;}
     .table{color:#555;}

      
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        padding: 40px 0;
        text-align: center;
        background-color:#f9f9f9;
		border-bottom:1px solid #e6e6e6;
      }
      
      
      
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 18px;
       
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
	  
	  .footer{padding:5px; border-bottom:1px solid #e6e6e6; background-color:#f9f9f9; color:#777;}